{% extends "data/layout.html" %}
{% load static %}

{% block body %}

<section class="py-5 text-center container">
	<h1>Corporate Bonds</h1>
	<span class="fs-2 ms-2">Adv-Dec Line with 5% trend</span>
</section>

<div class="container">

	<div class="row py-1">
		<div class="col col-md-8">
			<div class="py-2">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" id="cb_hy" onClick="return show_corp_bonds('hy')" href="#">High Yield</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="cb_ig" onClick="return show_corp_bonds('ig')" href="#">Investment Grade</a>
					</li>
				  </ul>
			</div>
			<div id="chartContainer">
				<script>
					show_corp_bonds('hy')
				</script>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="fs-6 fw-light py-2" >
				<table class="table">
					<tr>
						<th></th>
						<th>Inv Grade</th>
						<th>High Yield</th>
					</tr>
					<tr>
						<th>adv-dec</th>
						{% if data.ig_value > data.ig_trend %}
						<td class="table-success">
						{% elif data.ig_value < data.ig_trend %}
						<td class="table-danger">
						{% else %}
						<td class="table-info">
						{% endif %}    
							{{ data.ig_value }}
						</td>
						{% if data.hy_value > data.hy_trend %}
						<td class="table-success">
						{% elif data.hy_value < data.hy_trend %}
						<td class="table-danger">
						{% else %}
						<td class="table-info">
						{% endif %}    
							{{ data.hy_value }}
						</td>
					</tr>
					<tr>
						<th>5% trend</th>
						<td>{{ data.ig_trend|floatformat:0 }}</td>
						<td>{{ data.hy_trend|floatformat:0 }}</td>
					</tr>
					<tr>
						<td class="text-center" colspan="3">{{ data.hy_time|date:"M d, Y" }}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	{% if user.is_authenticated and user.role < 3 %}
	<div class="row bg-light py-1">
		<div class="col col-md-8">
			<div class="col py-2">
                <form action="{% url 'corp_bonds' %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-sm btn-outline-primary" value="update" type="submit">
                </form>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="col py-2">
				&nbsp;
			</div>
		</div>
	</div>
	{% endif %}
	
</div>

{% endblock %}