{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Data{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="{% static 'data/favicon.ico' %}">
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link href="{% static 'data/styles.css' %}" rel="stylesheet">
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
        <script src="{% static 'data/script.js' %}"></script>
    </head>
    <body>

        <!-- when using navbar-fixed-top, make sure to use body { padding-top: 70px; } -->
        <nav class="navbar navbar-expand-lg navbar-light bg-primary text-info">
            <div class="container-fluid">
                <a href="https://wyca-analytics.com" target="_blank" class=" navbar-brand">
                    <img src="/data/static/data/web-logo-white.png" alt="wyca-analytics.com" height="36">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/data">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Watchlists
                            </a>
                            <ul class="dropdown-menu">
                                {% for watchlist in watchlists %}
                                <li><a class="dropdown-item" href="{% url 'watchlist' watchlist.id %}">{{ watchlist.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated and user.role < 3 %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'open_interest' 'DAX' %}">OI</a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated and user.role == 1 %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'update_all' %}">update history</a></li>
                                <li><a class="dropdown-item" href="{% url 'create_default_list' %}">duild default</a></li>
                                <li><a class="dropdown-item" href="{% url 'create_sp500_list' %}">build S&P 500</a></li>
                                <li><a class="dropdown-item" href="{% url 'build_data_set' %}">build dataset</a></li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Signed in as {{ user.username }}</a>
                            <ul class="dropdown-menu">
                                {% if user.role < 3 %}
                                <li class="nav-item">
                                    <a class="dropdown-item" href="{% url 'watchlist_new' %}">New Watchlist</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% if user.is_authenticated %}
                    <form autocomplete="off" class="d-flex" role="search" id="search_form" action="{% url 'security_search' %}" method="post">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search" name="id" aria-label="Search" minlength="2">
                        <button class="btn btn-outline-light" type="submit">Search</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </nav>

        {% bootstrap_messages %}

        <main>
            {% block body %}
            
            {% endblock %}
        </main>

    </body>
</html>