{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Data{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load django_bootstrap5 %}

        {% bootstrap_css %}

        {% bootstrap_javascript %}

        {% bootstrap_messages %}
        <link href="{% static 'data/styles.css' %}" rel="stylesheet">
        <script src="{% static 'data/script.js' %}"></script>
    </head>
    <body>

        <main>
            {% block body %}
            
            {% endblock %}
        </main>

    </body>
</html>