{% extends "data/layout.html" %}
{% load static %}

{% block body %}

<section class="py-5 text-center container">
	<h1>{{ product.name }}</h1>
	<span class="fs-2 ms-2">{% load humanize %}{{ latest.ts|naturaltime }} - {{ latest.strike }}</span>
</section>

{% csrf_token %}

<div class="container">

	<div class="row py-1">
		<div class="col col-md-8">
			<div class="py-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" id="mp_history" onClick="return show_max_pain_history('{{ underlying }}')" href="#">history</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mp_distribution" onClick="return show_max_pain_distribution('{{ underlying }}')" href="#">distribution</a>
                    </li>
                </ul>
            </div>
			<div id="chartContainer">
				<script>
					show_max_pain_history('{{ underlying }}')
				</script>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="py-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="ta_link" href="#">Current</a>
                    </li>
                </ul>
            </div>
			<div class="fs-6 fw-light py-2" >
				<table class="table">
					{% for entry in max_pain_list %}
					<tr>
						<td><a href="{% url 'open_interest' entry.product %}">{{ entry.product }}</a></td>
						<td>{{ entry.ts|date:"d M Y" }}</td>
						<td>{{ entry.strike }}</td>
					</tr>
					{% endfor %}
				</table>
				
				
				
			</div>
		</div>
	</div>

	{% if user.is_authenticated and user.role < 3 %}
	<div class="row bg-light py-1">
		<div class="col col-md-8">
			<div class="col py-2">
				<form url="{% url 'open_interest' underlying %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-sm btn-outline-primary" value="update" type="submit">
                </form>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="col py-2">
				&nbsp;
			</div>
		</div>
	</div>
	{% endif %}
	
</div>

{% endblock %}