{% extends "data/layout.html" %}
{% load static %}

{% block body %}

<section class="py-5 text-center container">
	<h1>{{ product.name }}</h1>
	<span class="fs-2 ms-2">{% load humanize %}{{ latest.ts|naturaltime }} - {{ latest.strike }}</span>
</section>

{% csrf_token %}

<div class="container">

	<div class="row py-1">
		<div class="col col-md-8">
			<div id="chartContainer">
				<script>
					show_max_pain('{{ underlying }}')
				</script>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="fs-6 fw-light py-2" >
				{% for u in underlyings %}
				<div><a href="{% url 'open_interest' u %}">{{ u }}</a></div>
				{% endfor %}
				<form url="{% url 'open_interest' underlying %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-primary" value="update" type="submit">
                </form>
			</div>
		</div>
	</div>
	
</div>

{% endblock %}