{% extends "data/layout.html" %}
{% load static %}

{% block body %}

<section class="py-5 text-center container">
	<h1>{{ security.name }}</h1>
	<span class="fs-2 ms-2">{{ price.currency_symbol }}&nbsp;{{ price.price|floatformat:2 }}</span>
	<span class="fs-4 ms-2 {% if price.change > 0 %} text-success fw-light {% else %} text-danger {% endif %}">{{ price.change|floatformat:2 }}&nbsp;({{ price.change_percent|floatformat:2 }}%)</span>
	<span class="fs-6 ms-2 fw-light">{% load humanize %}{{ price.local_timestamp|naturaltime }}</span>

	{% if price.additional_data is not None %}
  	<p class="fs-6">{{ price.additional_data.state}}: {{ price.currency_symbol }}&nbsp;{{ price.additional_data.price|floatformat:2 }} {{ price.additional_data.change|floatformat:2 }}&nbsp;({{ price.additional_data.change_percent|floatformat:2 }}%) {% load humanize %}{{ price.additional_data.local_timestamp|naturaltime }}</p>
	{% endif %}
</section>

{% csrf_token %}

<div class="container">

	<div class="row py-1">
		<div class="col col-md-8">
			<div class="py-2">
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link" id="nl_daily" onClick="show_history('{{ security.id }}', 'd')" href="#">Daily</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="nl_weekly" onClick="show_history('{{ security.id }}', 'w')" href="#">Weekly</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="nl_monthly" onClick="show_history('{{ security.id }}', 'm')" href="#">Monthly</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="nl_hurst" onClick="show_tp('{{ security.id }}', 'hurst')" href="#">Hurst</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="nl_sd" onClick="show_tp('{{ security.id }}', 'sd')" href="#">SD</a>
					</li>
				  </ul>
			</div>
			<div id="chartContainer">
				<script>
					show_history('{{ security.id }}', 'd')
				</script>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="py-2">
				<ul class="nav nav-tabs">
					{% if security.type == "EQUITY" %}
					<li class="nav-item">
						<a class="nav-link active" id="fa_link" aria-current="page" onClick="show_fa('{{ security.id }}')" href="#">Fundamentals</a>
					</li>
					{% endif %}
					<li class="nav-item">
					  <a class="nav-link" id="ta_link" onClick="show_ta('{{ security.id }}')" href="#">Technical</a>
					</li>
				  </ul>
			</div>
			<div class="fs-6 fw-light py-2" >
				{% if security.type == "EQUITY" %}
				<p>{{ security.sector}} | {{ security.industry }}</p>
				{% endif %}
				<div id="a_data">
					{% if security.type == "EQUITY" %}
					<script>
						show_fa('{{ security.id }}')
					</script>
					{% else %}
					<script>
						show_ta('{{ security.id }}')
					</script>
					{% endif %}
					
				</div>
			</div>
		</div>
	</div>
	
  	<div class="row bg-light py-1">
		<div class="col col-md-8">
			<div class="col py-2">
				<a class="btn btn-sm btn-outline-primary" href="{% url 'history_update' security.id %}?interval=1d">update daily</a>
				<a class="btn btn-sm btn-outline-primary" href="{% url 'history_update' security.id %}?interval=1w">update weekly</a>
				<a class="btn btn-sm btn-outline-primary" href="{% url 'history_update' security.id %}?interval=1mo">update monthly</a>
			</div>
		</div>
		<div class="col col-md-4">
			<div class="col py-2">
				&nbsp;
			</div>
		</div>
	</div>
</div>

<!--
<div class="container">
	<ul>
		{% for key, value in quote_summary.items %} 
		<li>{{key}} - {{value}}</li>
		{% endfor %}
	</ul>
</div>
-->


{% endblock %}