{% extends "data/layout.html" %}
{% load static %}

{% block body %}

<section class="py-5 text-center container">
  <h1>{{ security.name }}</h1>
</section>
<div class="container">
  <div class="row bg-light">
	<div id="chartHeader"></div>
    <div class="col-12" id="chartContainer"></div>
  </div>
  <div>
    <a href="{% url 'history_update' security.id %}">update daily</a>
  </div>
  {{ security.sector }} {{ security.industry }}
</div>






<script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>

<script>

var width = 900;
var height = 450;

var chart = LightweightCharts.createChart(document.querySelector("#chartContainer"), {
	width: width,
  	height: height,
	layout: {
		background: {
            type: 'solid',
            color: '#ffffff',
        },
		textColor: 'rgba(47, 79, 79, 0.9)',
	},
	grid: {
		vertLines: {
			color: 'rgba(197, 203, 206, 0.5)',
		},
		horzLines: {
			color: 'rgba(197, 203, 206, 0.5)',
		},
	},
	crosshair: {
		mode: LightweightCharts.CrosshairMode.Normal,
	},
	rightPriceScale: {
		borderColor: 'rgba(197, 203, 206, 0.8)',
	},
	timeScale: {
		borderColor: 'rgba(197, 203, 206, 0.8)',
	},
	/*
	watermark: {
		visible: true,
		fontSize: 32,
		horzAlign: 'center',
		vertAlign: 'center',
		color: 'rgba(171, 71, 188, 0.3)',
		text: 'wyca-analytics.com',
	},
	*/
});

var ema50 = chart.addLineSeries({
	color: 'rgba(4, 111, 232, 1)',
	lineWidth: 2,
});
var ema50values = {{ ema50|safe }}
ema50.setData(ema50values);

var volumeSeries = chart.addHistogramSeries({
	color: '#26a69a',
	priceFormat: {
		type: 'volume',
	},
	priceScaleId: '',
});
volumeSeries.setData({{ volume|safe }});
chart.priceScale('').applyOptions({
	scaleMargins: {
		top: 0.8,
		bottom: 0,
	},
});

var candleSeries = chart.addCandlestickSeries({
  upColor: '#fff',
  downColor: '#F8961E',
  borderDownColor: '#F94144',
  borderUpColor: '#43AA8B',
  wickDownColor: 'rgba(255, 144, 0, 1)',
  wickUpColor: 'rgba(255, 144, 0, 1)',
});
var candles = {{ full_data|safe }}
candleSeries.setData(candles);

// Make Chart Responsive with screen resize
new ResizeObserver(entries => {
      if (entries.length === 0 || entries[0].target !== chartContainer) { return; }
      const newRect = entries[0].contentRect;
      chart.applyOptions({ height: newRect.height, width: newRect.width });
    }).observe(chartContainer);

var toolTipMargin = 10;
var priceScaleWidth = 50;
var toolTip = document.createElement('div');
toolTip.className = 'three-line-legend';
chartHeader.appendChild(toolTip);
toolTip.style.display = 'block';
toolTip.style.left = 3 + 'px';
toolTip.style.top = 3 + 'px';

function setLastBarText() {
	var dateStr = candles[candles.length - 1].time.year + '-' + candles[candles.length - 1].time.month.toString().padStart(2,'0') + '-' + 	candles[candles.length - 1].time.day.toString().padStart(2,'0');
	 toolTip.innerHTML = '<div style="font-size: 22px; margin: 4px 0px; color: #20262E">' + candles[candles.length-1].close + '</div>' + '<div>' + dateStr + '</div>';
}
setLastBarText();



var legend = document.createElement('div');
legend.className = 'sma-legend';
chartHeader.appendChild(legend);
legend.style.display = 'block';
legend.style.left = 3 + 'px';
legend.style.top = 3 + 'px';

function setLegendText(priceValue) {
	let val = '∅';
	if (priceValue !== undefined) {
		val = (Math.round(priceValue * 100) / 100).toFixed(2);
	}
	legend.innerHTML = 'EMA(50) <span style="color:rgba(4, 111, 232, 1)">' + val + '</span>';
}

setLegendText(ema50values[ema50values.length - 1].value);

chart.subscribeCrosshairMove((param) => {

	if ( param === undefined || param.time === undefined || param.point.x < 0 || param.point.x > width || param.point.y < 0 || param.point.y > height ) {
		setLastBarText();
	} else {
		dateStr = param.time;
		const data = param.seriesData.get(candleSeries);
		const price = data.value !== undefined ? data.value : data.close;
		toolTip.innerHTML =	'<div style="font-size: 22px; margin: 4px 0px; color: #20262E">' + (Math.round(price * 100) / 100).toFixed(2) + '</div>' + '<div>' + dateStr + '</div>';
	}

	const data = param.seriesData.get(ema50);
	if (!data) {
		setLegendText(undefined);
		return
	}
	const price = data.value !== undefined ? data.value : data.close;
	setLegendText(price);
});


</script>


{% endblock %}