{% extends "data/layout.html" %}
{% load static %}

{% block body %}
<section class="py-5 text-center container">
    <h1>Watchlists</h1>
</section>
<div class="container">
    <table>
        {% for watchlist in watchlists %}
        <tr>
            <td><a href="{% url 'watchlist' watchlist.id %}">{{ watchlist.name }}</a></td>
            <td><a href="{% url 'watchlist_edit' watchlist.id %}">edit</a></td>
            <td><a href="{% url 'watchlist_drop' watchlist.id %}">drop</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}